body{
    background-color: rgb(134, 131, 143);
    font: lighter;
    margin: 0rem;
    text-align: justify;
}

#header{
    border: blue hidden;
    padding: 0.5rem;
    margin: 0rem;
    text-align: left;
    align-items: flex-start;
    background-color: rgb(193, 193, 219);
    color: rgb(32, 20, 20);
}
#navbar{
    border: hidden lightblue solid;
    align-items: center;
    margin-right: 10px;
    color: black;
    background-color: rgb(189, 189, 201);
}
ul li{
    display: inline;
    list-style: none;
    padding-right: 10px;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    justify-content: space-between;
}
h4{
    text-align: center
}
li{
    text-decoration: line-through;
}
#jumbotron{
    color:white;
    background-color:rgb(180, 180, 194);
    padding:20px;
    margin: 5px;
    background-image: url('env.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-feature-settings: "kern";
    
}
#abb{
    text-align: center;
}
h2{
    text-transform: uppercase;
}
#section1{
    color:rgb(22, 20, 20);
    background-color:rgb(189, 189, 201);
    padding:20px;
    margin: 5px;
}
#section2{
    color:whitesmoke;
    background-color:rgb(189, 189, 201);
    padding:20px;
    margin: 5px;
}
#section3{
    color:rgb(20, 19, 19);
    background-color:rgb(163, 163, 173);
    padding:20px;
    margin: 5px;
    color: black;
}

#post p{
    float: left;;
     
    
}
#author p{
   float:center;
}
#news p{
    float: right;
}
.card{
    align-items: center;
    background-color: navy;
    color: black; 
}
footer{
    color:rgb(39, 35, 35);
    background-color:rgb(161, 157, 157);
    padding:20px;
    margin: 5px; 
}
.row{
    color:rgb(37, 34, 34);
    background-color:rgb(189, 189, 201);
    padding:20px;
    margin: 5px;  
}
#well{
    text-transform: initial;
}
 b{
     text-align: center;
 }
 .footer{
     text-align: center;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Times New Roman', Times, serif;
 }
 a  visied{
     color: red;

 }
 a{
     color:black;
 }
 a hover{
     color:wheat;
 }